@using Model.EF
@model List<Sach>
@foreach (var item in Model)
{ 
<div class="single-product">

    
        <div class="product-f-image">
            <img src="@Url.Content("~/Image/"+item.AnhBia)" alt="">
            <div class="product-hover">
                <a href="#" class="add-to-cart-link" ><i class="fa fa-shopping-cart" ></i> Giỏ hàng</a>
                <a href="#" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
            </div>
        </div>

    @if(item.TenSach.Length>20)
    {
        string s = @item.TenSach.Substring(0, 19).ToString() + "...";
        <h2><a href="#">@s</a></h2>       
    }
    else
    {
        <h2><a href="#"> @item.TenSach</a></h2>

    }

        <div class="product-carousel-price">
            <ins>@String.Format("{0:0,0}", item.GiaBan - ((item.GiaBan) * 20) / 100) VNĐ</ins> <del>@String.Format("{0:0,0}", item.GiaBan) VNĐ</del>
        </div>
    
</div>
    }

