@using Model.EF
@using PagedList.Mvc
@model PagedList.IPagedList<Sach>
@{
    ViewBag.Title = "SachNXB";
    Layout = "~/Views/Shared/_ClientView.cshtml";
}


<div class="single-product-area">
    <div class="container">
        <div class="row" id="sachtheloai">
            <div class="col-md-3">
                <div clas="single-sidebar">
                    @Html.Action("ChudePartial", "HomeClient")
                </div>
            </div>
            <div class="col-md-9">
                                @if (Model.Count == 0)
                                {
                                    <h3 class="text-center text-danger">
                                        Không có sách thuộc chủ đề này</h3>
                                }
                                else
                                {
                                    foreach (var item in Model)
                                    {
                                        <div class="col-md-4 col-sm-8">

                                            <div class="single-product" style="margin-bottom:10px">


                                                <div class="product-f-image">
                                                    <img src="@Url.Content("~/Image/"+item.AnhBia)" alt="">
                                                    <div class="product-hover">
                                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Thêm giỏ hàng</a>
                                                        <a href="/Sach/ChitietSach?masach=@item.MaSach" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
                                                    </div>
                                                </div>

                                                @if (item.TenSach.Length > 20)
                                                {
                                                    string s = @item.TenSach.Substring(0, 20).ToString() + "...";
                                                    <h2><a href="#">@s</a></h2>
                                                }
                                                else
                                                {
                                                    <h2><a href="#"> @item.TenSach</a></h2>

                                                }

                                                <div class="product-carousel-price">
                                                    Giá: <ins>@String.Format("{0:0,0}", item.GiaBan) VNĐ</ins>
                                                </div>

                                            </div>

                                        </div>

                                    }
                                }
</div>
                
            <div>

                <div class="product-pagination text-center">
                    <ul class="pagination">
                                            
                        @for (int x = 1; x <= Model.PageCount; x++)
                        {
                            <li class="@(Model.PageNumber == x ? "active" : "")">                            
                                @Html.ActionLink(x.ToString(), "Sachtheloai", new { page = x })
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </div>


    </div>
</div>


